In [2]:
import pandas as pd

In [7]:
df = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip', nrows=100)

In [8]:
df.count()

VendorID                 100
tpep_pickup_datetime     100
tpep_dropoff_datetime    100
passenger_count          100
trip_distance            100
RatecodeID               100
store_and_fwd_flag       100
PULocationID             100
DOLocationID             100
payment_type             100
fare_amount              100
extra                    100
mta_tax                  100
tip_amount               100
tolls_amount             100
improvement_surcharge    100
total_amount             100
congestion_surcharge     100
dtype: int64

In [9]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [11]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [12]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [13]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv.gz', compression='gzip',iterator=True, chunksize=100000)

In [14]:
df = next(df_iter)

In [15]:
len(df)

100000

In [16]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [18]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [19]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [20]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 6.77 s, sys: 131 ms, total: 6.91 s
Wall time: 9.8 s

1000

In [21]:
from time import time

In [22]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    t_end = time()
    print('inserted another chunk...took %.3f second' % (t_end - t_start))

inserted another chunk...took 9.265 second
inserted another chunk...took 9.639 second
inserted another chunk...took 9.827 second
inserted another chunk...took 9.907 second
inserted another chunk...took 9.871 second
inserted another chunk...took 9.749 second
inserted another chunk...took 9.808 second
inserted another chunk...took 9.732 second
inserted another chunk...took 9.797 second
inserted another chunk...took 9.746 second
inserted another chunk...took 9.637 second

/tmp/ipykernel_57218/1728612388.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserted another chunk...took 9.799 second
inserted another chunk...took 6.185 second

StopIteration: